.bordered {
   background-color:#eee;
   border: 1px solid #888;
   border-radius:3px;
}

.pull-bottom {
    display: inline-block;
    vertical-align: bottom;
}

.padded { 
	margin:10px; 
	padding:10px; 
}

.top-buffer{
    margin-top:40px;
}

#troopCount {
	font-size: 55pt;
}

.ui-helper-hidden-accessible { display:none; }

.ui-helper-hidden-accessible { position: absolute; left:-999em; }