<html lang="en" ng-app="RiskLegacyHCI">
<head>

    <link href="/nav-justified.css" rel="stylesheet" type="text/css"></link>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>

	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/prototype/css/main.css">

    <script src="/prototype/app.js"></script>
    <script src="/prototype/config.js"></script>
    <script src="/prototype/js/setupController.js"></script>
    <script src="/prototype/js/quickviewController.js"></script>
    <script src="/prototype/js/page3Controller.js"></script>
    <script src="/prototype/js/rulebookController.js"></script>
    <script src="/prototype/js/factionsController.js"></script>
    <script src="/prototype/js/envelopeController.js"></script>
    <script src="/prototype/js/headerController.js"></script>

    <script src="/prototype/js/angularUUID2.js"></script>
</head>

<body>

  <div ng-include="'/prototype/html/header.html'"></div>

  <div class="container-fluid">
    <div ng-view class="main"></div>
  </div>

</body>
</html>
