<div style="height:25px"></div>

<p> 
	Our plan is to make a web-app dynamic rules supplement to the board game Risk Legacy. The game is characterized by the rules constantly changing, even from game-to-game and this can make it difficult to keep track of how certain aspects of the game are supposed to work. Instead of holding all of that information in one’s head, our web-app would provide users with an ability to start with a basic set of rules and update them according to what has changed in the game and even do things like search when they have specific questions about rules and how they are supposed to work at a specific time. 
</p>