<h1>P5 - Paper Prototyping</h1>

<h3>Test Tasks</h3>
<ol> 
	<li>Start a game with 4 players</li>
	<li>Conquer Alberta and end your turn</li>
	<li>Look up how many red stars are</li>
</ol>


<h3>Prototype Photos</h3>

<div class="row row-centered">
	<div class="col-xs-12 col-sm-6 col-md-4">
		<h7>1.</h7>
		<img src="/images/assignment5a/picture1.png" width="100%">
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4">
		<h7>2.</h7>
		<img src="/images/assignment5a/picture2.png" width="100%">
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4">
		<h7>3.</h7>
		<img src="/images/assignment5a/picture3.png" width="100%">
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4">
		<h7>4.</h7>
		<img src="/images/assignment5a/picture4.png" width="100%">
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4">
		<h7>5.</h7>
		<img src="/images/assignment5a/picture5.png" width="100%">
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4">
		<h7>6.</h7>
		<img src="/images/assignment5a/picture6.png" width="100%">
	</div>
</div>