<h1>P1 - Find A Project</h1>

<h3>Problem</h3>
<p>
	Risk Legacy is a game meant to be played many times using the same board with the same group of people. After each round the rules change, and people will gain bonuses and resources that affect all future rounds. Because players can spend lots of time between each round (weeks, months) lots of bonuses can be forgotten, and the game must be relearned each time.
</p>


<h3>Taget Users</h3>
<p>
	Our target users are Risk Legacy players, particularly people who play the game infrequently. Risk Legacy is made to be played around fifteen times with the same group of people so it’s very likely that all players will have breaks between games. As a result pretty much anyone playing Risk Legacy will have trouble keeping track of everything in the game, especially when it changes or when they aren’t playing often.
</p>

<h3>Solution</h3>
<p>
	The solution would help the players keep track of the game rules. For example, there are a lot of calculations that go into the start of a player’s turn to generate troops. More specifics would need to be found in the requirements gathering stage and through talking to target users. Generally we want to remind players of options that are available to them, rules that they might forget to activate (ie. if a player places 30+ troops in one turn and owns a missile, do something), and any relevant bonuses they have. 
</p>
<p>
	In response to some concerns, despite a lot of changes the core foundation of the game remains the same. Extra cards are added but they’re based on existing card types for example. Each module is just adding on new rules or information. 
</p>

