<h1><%= @title || SiteConfig.title %></h1>


<div class="row row-centered">
	<div class="col-xs-12 col-sm-6 col-md-3">
		<img src="http://graph.facebook.com/v2.5/100007802773460/picture?type=large" width="100%">
		<h2>Ryan</h2>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-3">
		<img src="http://graph.facebook.com/654658651/picture?type=large" width="100%">
		<h2>Matt</h2>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-3">
		<img src="http://graph.facebook.com/100000088442646/picture?type=large" width="100%">
		<h2>Spencer</h2>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-3">
		<img src="http://graph.facebook.com/665404848/picture?type=large" width="100%">
		<h2>Luke</h2>
	</div>
</div>




