.tab {
	margin-left: 40px; 
}

.fullWidth {
	width:100%;
}

.halfWidth {
	width:50%;
}

.navbar .divider-vertical {
    height: 50px;
    margin: 0 9px;
    border-right: 1px solid #999999;
    border-left: 1px solid #888888;
}

.navbar-inverse .divider-vertical {
    border-right-color: #222222;
    border-left-color: #111111;
}

@media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
     }
}