<h1>P6 - Computer Prototyping</h1>


<h3>Link to Prototype:</h3>
<a href="/p/index">Risk Legacy Prototype</a>


<h3>Test Tasks</h3>
<ol> 
	<li>Start a game with 4 players</li>
	<li>Conquer Alberta and end your turn</li>
	<li>Look up how many red stars are</li>
</ol>


<h3>Script</h3>
<p>
	Hello and thank you for taking the time to help us test our user interface. You are going to be using a prototype of our a new dynamic rulebook system for the board game Risk Legacy. Don’t worry if you have never played the game Risk Legacy or even Risk before, our system should be designed for even new users to be able to navigate. That being said we are testing our interface not you, so don’t worry if you get confused or are not sure what to do next, that will help us better understand where our design needs improvement.
</p>
<p>
	If something seems unclear to you please ask us questions and don’t worry, like I said we are testing our prototype not you so there are no wrong answers.
</p>