<h1>P7 - Heuristic Evaluation & Prototype Revision #1</h1>

<h3>Link to Prototype:</h3>
<a href="/p/index">Risk Legacy Prototype</a>


<h3>Changes</h3>
<ol> 
	<li>Add validation so you cant enter a game with 0 players</li>
	<ul> 
		<li>
			There is now a popup which will prevent starting a game when there are no users added.
		</li>
	</ul>
	<li>Make it more clear that players entered input boxes are not added to the game until you click "add"</li>
	<ul> 
		<li>
			If there is any unsaved information in the new player fields there will no be a popup asking the user to confirm.
		</li>
	</ul>
	<li>Add feedback to the quickview screen to show turns changing</li>
	<ul> 
		<li>
			The current player name cycles on the top left of the quickview screen to show whose turn it is.
		</li>
	</ul>
</ol>