<h1>P5 - Paper Prototyping</h1>

<h2>P5 A - Prototype</h2>

<h3>Test Tasks</h3>
<ol> 
	<li>Start a game with 4 players</li>
	<li>Conquer Alberta and end your turn</li>
	<li>Look up how many red stars are</li>
</ol>


<h3>Prototype Photos</h3>

<div class="row row-centered">
	<div class="col-xs-12 col-sm-6 col-md-4">
		<h7>1. Setup Page</h7>
		<img src="/images/assignment5a/picture1.png" width="100%">
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4">
		<h7>2. Quickview Page</h7>
		<img src="/images/assignment5a/picture2.png" width="100%">
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4">
		<h7>3. End Game Page</h7>
		<img src="/images/assignment5a/picture3.png" width="100%">
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4">
		<h7>4. Rulebook Page</h7>
		<img src="/images/assignment5a/picture4.png" width="100%">
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4">
		<h7>5. Factions Page</h7>
		<img src="/images/assignment5a/picture5.png" width="100%">
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4">
		<h7>6. Envelope Page</h7>
		<img src="/images/assignment5a/picture6.png" width="100%">
	</div>
</div>

<h2>P5 B - User Testing</h2>

<h3>Script</h3>
<p>
	Hello and thank you for taking the time to help us test our user interface. You are going to be using a prototype of our a new dynamic rulebook system for the board game Risk Legacy. Don’t worry if you have never played the game Risk Legacy or even Risk before, our system should be designed for even new users to be able to navigate. That being said we are testing our interface not you, so don’t worry if you get confused or are not sure what to do next, that will help us better understand where our design needs improvement.
</p>
<p>
	We are going to be using a paper prototype to test user interaction with our interface. So you will not be using a computer screen, instead you will be referring to pieces of paper on the desk in front of you as if it was a computer screen. You will use your finger as a mouse and you can use this marker here to interact with any text fields in our interface as if it was your keyboard.
</p>
<p>
	If something seems unclear to you please ask us questions and don’t worry, like I said we are testing our prototype not you so there are no wrong answers.
</p>

<h3>User 1</h3>
<div class="row">
	<div class="col-xs-11 col-xs-offset-1">
		<h5>Task 1</h5>
		<ul> 
			<li>Unclear about the drop down menu for factions or starting territories. Begin making assumptions by the territories.</li>
			<li>Clicked on text box for more information.</li>
			<li>Clicked setup.</li>
			<li>Then clicked start.</li>
		</ul>
		<h5>Task 2</h5>
		<ul> 
			<li>Clicked rule book</li>
			<li>Realized that the omi-box was for searching</li>
		</ul>
		<h5>Task 3</h5>
		<ul> 
			<li>Entered Alberta into the text field.</li>
			<li>“I don’t know what these circles are”</li>
		</ul>
	</div>
</div>

<h3>User 2</h3>
<div class="row">
	<div class="col-xs-11 col-xs-offset-1">
		<h5>Task 1</h5>
		<ul> 
			<li>Hit the add player button first.</li>
			<li>“I guess I have to name everyone”</li>
			<li>Clicks factions as well</li>
			<li>Wants to click the factions from the dropdown as well as be able to type them in.</li>
			<li>Started the game.</li>
		</ul>
		<h5>Task 2</h5>
		<ul> 
			<li>“Search?”</li>
			<li>clicked the add territory button</li>
			<li>Then clicked rulebook hesitantly</li>
			<li>Searched</li>
		</ul>
		<h5>Task 3</h5>
		<ul> 
			<li>Clicked the list of territories and elected Alberta so it is written in automatically. </li>
			<li>Then he clicked factions. </li>
			<li>Then clicked envelope.</li> 
			<li>Hit the next button.</li>
		</ul>
	</div>
</div>

<h3>User 3</h3>
<div class="row">
	<div class="col-xs-11 col-xs-offset-1">
		<h5>Task 1</h5>
		<ul> 
			<li>Clicked the text field.</li>
			<li>Wrote in the names instead</li>
			<li>Maybe separate the territories by continent in the search. Or we can color the text by their appropriate country name.</li>
		</ul>
		<h5>Task 2</h5>
		<ul> 
			<li>Needs a cue for searching</li>
		</ul>
		<h5>Task 3</h5>
		<ul> 
			<li>Was wondering if the territory search box was a general search box.</li>
			<li>Users want to click on the dropdown boxes.</li>
			<li>Clicked the next button.</li>
			<li>Maybe tags next to stuff.</li>
		</ul>
	</div>
</div>

<h3>User 4</h3>
<div class="row">
	<div class="col-xs-11 col-xs-offset-1">
		<h5>Task 1</h5>
		<ul> 
			<li>Starts by naming the players.</li>
			<li>People seem to be a fan of the auto fill.</li>
			<li>Starts the game.</li>
			<li>When you remove the player? Do the boxes save player information?</li>
		</ul>
		<h5>Task 2</h5>
		<ul> 
			<li>Definitely use a tag to make it apparent which tab the users are on.</li>
			<li>People want to click on the circles.</li>
			<li>Searched after much navigation.</li>
		</ul>
		<h5>Task 3</h5>
		<ul> 
			<li>ended turn</li>
		</ul>
	</div>
</div>

