<h1>P3 - Conceptual Design</h1>

<h3>Metaphors</h3>

<h4>Starting Turn:</h4>
<h5><b>1. “‘Turn in resource cards?’ is prompted with a card”</b></h5>
<p class="indent">
	PROS: The prompt directly connects to the part of the game it represents, making it clear to the user how this step fits into the game.
</p>
<p class="indent">
	CONS: There are several different combinations or amounts of cards that can be turned in for different numbers of troops. If the representation is too specific, ex. shows a hand of 3 cards, users may be led to think that’s the only option.
</p>

<h5><b>2. “Starting the system is like starting a game of Risk Legacy”</b></h5>
<p class="indent">
	PROS:It’s very important that the system overall closely fits with the game Risk Legacy. Otherwise the system will be constantly pulling people out of the game and will end up more trouble than it’s worth, or otherwise unusable.
</p>
<p class="indent">
	CONS: While very important this metaphor may be too obvious to be very useful.
</p>



<h4>Recruit troops:</h4>

<h5><b>1. “Data is entered through a form”</b></h5>
<p class="indent">
	PROS: The data will be prompted with questions or instructions to guide the user through the steps of entering information such as territories controlled, etc.
</p>
<p class="indent">
	CONS: This might be draw people out of playing the game if they have to stop and at the beginning of their turn fill out a bunch of information about what the system just did. 
</p>

<h5><b>2. “Generating troops is like using a calculator”</b></h5>
<p class="indent">
	PROS: The system will have buttons to generate troops and the option to display the numbers, where they come from, and how they factor into the final troop number.</p>
<p class="indent">
	CONS: This is a looser metaphor. Most calculators have buttons to enter numbers and perform functions, where our system is basically showing the equals button and all data has already been entered. The disconnect may be confusing. 
</p>



<h4>Ending turn:</h4>

<h5><b>1. “The next player is on your right” </b></h5>
<p class="indent">
	PROS: Most systems that users are familiar with have this idea that right is forward and left is backwards. This also links the end of the player’s turn with the beginning of the next player’s turn which is an important part as our system is part of a turn based game.

</p>
<p class="indent">
	CONS: This could potentially be confusing depending on the physical setup of the people player. There may be a disconnect if say, the next player is actually on the player’s left or across the table. Risk Legacy doesn’t specify a turn order only who goes first.
</p>

<h5><b>2. “‘Draw a coin card?’ is prompted with a deck of cards”</b></h5>
<p class="indent">
	PROS: The prompt’s representation in the system looks like the part of the game it represents, which links the system back to the game. The icon looks like it’s real world counterpart. 
</p>
<p class="indent">
	CONS: Multiple decks of cards could be confusing. We don’t want to represent too much or confuse users by making them think that they draw a card in the screen and forget about the physical card deck.
</p>



<h3>Activity Design Scenarios</h3>

<h4>Starting turn:</h4>
<p>
	<u>Problem Scenario</u>: Sam and his friends are about halfway through a game. It’s Sam’s turn again and he begins strategizing where to attack next. He immediately goes to grab troops, completely forgetting he has resource cards to turn in for a red star. By the time he realizes this he’s already placed his troops and begun expanding; it’s too late for him to go back. Frustrated, he hopes that no one else finds a way to win before he’s able to get that red star his next turn.
</p>
<p>
	<u>Activity Scenario</u>: At the beginning of Sam’s turn he clicks the “Start Turn” button. Before he reaches for his troops, he is reminded of his resource cards that are ready to be turned it by a card pop up on the screen. He turns in his resource cards, gets his final red star and wins the game.
</p>



<h4>Recruit Troops:</h4>
<p>
	<u>Problem Scenario</u>: Sam and his friends are about halfway through a game. It’s Sam’s turn again and he begins strategizing where to attack next. He immediately goes to grab troops, completely forgetting he has resource cards to turn in for a red star. By the time he realizes this he’s already placed his troops and begun expanding; it’s too late for him to go back. Frustrated, he hopes that no one else finds a way to win before he’s able to get that red star his next turn. 
</p>
<p>
	<u>Activity Scenario</u>: Next Sam moves to the select troops screen. He is then guided through the process of recruiting troops. The system has information on Sam’s pieces current positions on the board from previous turns. Using this information the system tells Sam how many troops he should get, taking into account all recruitment bonuses.
</p>



<h4>Ending turn:</h4>
<p>
	<u>Problem Scenario</u>: Sam and his friends are about halfway through a game. It’s Sam’s turn again and he begins strategizing where to attack next. He immediately goes to grab troops, completely forgetting he has resource cards to turn in for a red star. By the time he realizes this he’s already placed his troops and begun expanding; it’s too late for him to go back. Frustrated, he hopes that no one else finds a way to win before he’s able to get that red star his next turn. 
</p>
<p>
	<u>Activity Scenario</u>: It’s finally the end of Sam’s turn. He remembers to grab a coin card and checks the system to be safe. He is prompted to draw a coin card and check any scar cards. He remembers his scar card in Iceland which gives him an extra troop. He takes his coin card, places his extra troop, and passes the dice to his friend.
</p>

