<div class="row">

	<div class="col-xs-5 col-xs-offset-1 col-sm-3 col-sm-offset-2 bordered">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		</p>
	</div>

	<div class="col-xs-5 col-xs-offset-0 col-sm-3 col-sm-offset-2 bordered">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		</p>
	</div>
</div>

<div class="row top-buffer" style="text-align:center">
		<div class="col-xs-2 col-xs-offset-5">
			<p id="troopCount">
				{{rando}}
			</p>
		</div>
		<div class="col-xs-1 pull-bottom">
			<p>
				troops
			</p>	
		</div>
</div>

<div class="row top-buffer">
	<div class="col-xs-7">
		<label for="territory">Territory: </label>
		<input ng-model="territory" type="text" name="territory" id="territory" placeholder="territory" style="width:100%">
	</div>
	<div class="col-xs-5">
		<button class="btn-block" ng-click="start()">-></button>
	</div>
</div>