<div class="row">
	<div class="col-xs-12" style="background-color:{{$rootScope.players[$rootScope.playerUpIndex].faction.color}};">
		<div class="col-xs-2 col-xs-offset-5">
			<h4>{{$rootScope.players[$rootScope.playerUpIndex].name}}</h4>
		</div>
	</div>
</div>

<div class="row top-buffer">

	<div class="col-xs-5 col-xs-offset-1 col-sm-3 col-sm-offset-2 bordered">
		<p>
			Do you have any resource cards to turn in?
		</p>
	</div>

	<div class="col-xs-5 col-xs-offset-0 col-sm-3 col-sm-offset-2 bordered">
		<p>
			Do you have any scar cards to play?
		</p>
	</div>
</div>

<div class="row top-buffer" style="text-align:center">
		<div class="col-xs-2 col-xs-offset-5">
			<p id="troopCount">
				{{rando}}
			</p>
		</div>
		<div class="col-xs-1 pull-bottom">
			<p>
				troops
			</p>	
		</div>
</div>

<div class="row top-buffer">
	<div class="col-xs-2">
		<button class="btn-block" ng-click="endGame()">End Game</button>
	</div>
	<div class="col-xs-3">
		<label for="territory">Territory: </label>
		<input class="territoryInput" ng-model="territory" type="text" name="territory" id="territory" placeholder="territory" style="width:100%">

		<h4 ng-repeat="territory in territories">{{territory}}</h4>
	</div>
	<div class="col-xs-2">
		<button class="btn-block" ng-click="addTerritory()">Add</button>
	</div>
	<div class="col-xs-2">
		
	</div>
	<div class="col-xs-3">
		<button class="btn-block" ng-click="next()">-></button>
	</div>
</div>