<div class="container-fluid">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Faction</th>
                <th>Starting Territory</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="player in $rootScope.players">
                <td>{{player.name}}</td>
                <td>{{player.faction}}</td>
                <td>{{player.startingTerritory}}</td>
                <td><span ng-click="removePlayer(player)" class="glyphicon glyphicon-remove fa-2x"></span></td>
            </tr>
            <tr ng-show="$rootScope.players.length < 5">
                <td><input ng-model="newForm.name" type="text" name="name" id="name" placeholder="Name"></td>
                <td>
                    <div class="dropdown">
                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{newForm.faction == "" ? "faction" : newForm.faction}}
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                          <li ng-repeat="faction in availableFactions" ng-click="chooseFaction(faction)"><a href="">{{faction}}</a></li>
                        </ul>
                    </div>
                </td>
                <td><input class="territoryInput" ng-model="newForm.startingTerritory" type="text" name="territory" id="territory" placeholder="Territory"></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

<button ng-click="addPlayer()">Add Player</button>

<div class="col-xs-12" style="height:50px;"></div>

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-8">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
		<div class="col-xs-4">
			<button class="btn-block" ng-click="tryStart()">START</button>
		</div>
	</div>
</div>


<button id="confirmUnsaveModalButton" data-toggle="modal" data-target="#confirmUnsaveModal" ng-show="false"></button>

<div id="confirmUnsaveModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Unsaved Player!</h4>
            </div>
            <div class="modal-body">
                You entered information for a player that you didn't save! Would you like to continue without this player?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closePopup()">Go Back</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="doStart()">Continue</button>
            </div>
        </div>

    </div>
</div>

<button id="confirmEmptyModalButton" data-toggle="modal" data-target="#confirmEmptyModal" ng-show="false"></button>

<div id="confirmEmptyModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">No Player!</h4>
            </div>
            <div class="modal-body">
                You have not entered any players!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closePopup()">Go Back</button>
            </div>
        </div>

    </div>
</div>

